[Desktop Entry]
Name=WemeetApp
Name[zh_CN]=腾讯会议
Keywords=wemeet;tencent;meeting;
Exec=wemeet
Icon=com.tencent.wemeet
Type=Application
Terminal=false
Categories=AudioVideo;
MimeType=x-scheme-handler/wemeet;
