#!/usr/bin/env xdg-open
[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Vitis HLS 2023.2 (bwrap)
Comment=Vitis HLS 2023.2
Icon=/opt/Xilinx/Vitis_HLS/2023.2/doc/images/vitis_hls_icon.png
Exec=vitis_hls.bwrap
Categories=Development;IDE;
