[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Vivado 2023.1 (nspawn)
Comment=Vivado 2022.1
Icon=vivado
Exec=vivado_2023.1.nspwan
Categories=Development;IDE;

